@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

:root {
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);

  --background: hsl(214, 47%, 23%), hsl(237, 49%, 15%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Barlow Semi Condensed", sans-serif;
}

a {
  text-decoration: none;
  color: var(--dark-text);
}

button {
  cursor: pointer;
  border: none;
}

.flex-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle at top, var(--background));
  padding: 2rem;
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  border: 2px solid var(--header-outline);
  border-radius: 10px;
  padding: 1rem 2rem;
}

.header-box .title-box {
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 0.9;
}

.header-box .score-box {
  background: white;
  text-align: center;
  align-content: center;
  border-radius: 8px;
  width: 8rem;
  height: 6rem;
  padding: 0.5rem;
}

.header-box .score-box p {
  color: var(--score-text);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
}

.header-box .score-box span {
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--dark-text);
}

main {
  position: relative;
}

.button-wrap {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
}

.lizard {
  background: hsl(261, 72%, 63%);
  box-shadow: 1px 5px hsl(261, 51%, 51%);
  left: -1rem;
  bottom: -3rem;
}

.spock {
  background: hsl(189, 58%, 57%);
  box-shadow: 1px 5px hsl(189, 53%, 42%);
  left: -4rem;
  top: 3rem;
}

.papper {
  background: hsl(230, 89%, 65%);
  box-shadow: 1px 5px hsl(230, 54%, 50%);
  top: 3rem;
  right: -4rem;
}

.rock {
  background: hsl(349, 70%, 56%);
  box-shadow: 1px 5px hsl(349, 64%, 46%);
  bottom: -3rem;
  right: -1rem;
}

.scissors {
  background: hsl(40, 84%, 53%);
  box-shadow: 1px 5px hsl(39, 87%, 42%);
  top: -4rem;
  right: 6rem;
}

.badge {
  background: white;
  box-shadow: 0px -5px rgb(213, 213, 213);
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.match-box {
  position: relative;
  width: 100%;
}

.match {
  position: static;
}

.results-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.result-box {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

.result-box p {
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
}

.rematch h2,
#status-text {
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  font-size: 2.5rem;
}

#status-text {
  font-size: 1.5rem;
}

.rematch button {
  width: 10rem;
  height: 2rem;
  border-radius: 8px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 0.75rem;
}

.attribution {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 25rem;
}

.rules {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: var(--dark-text);
  letter-spacing: 1px;
  border: 2px solid var(--header-outline);
  border-radius: 10px;
  width: 4.5rem;
  height: 2rem;
  font-size: 0.7rem;
  background: transparent;

  transition: 0.1s color;
}

.rules:hover {
  color: white;
  border-color: white;
}

.hidden {
  display: none;
}
