@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

:root {
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);

  --background: hsl(214, 47%, 23%), hsl(237, 49%, 15%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Barlow Semi Condensed", sans-serif;
}

a {
  text-decoration: none;
  color: var(--dark-text);
}

button {
  cursor: pointer;
  border: none;
}

.flex-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  background: radial-gradient(circle at top, var(--background));
}

.footer {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.footer div {
  margin-top: 2rem;
  max-width: 12rem;
  text-align: center;
}

.rules {
  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
  color: var(--dark-text);
  letter-spacing: 1px;
  font-size: 1.5rem;

  border: 2px solid var(--header-outline);
  border-radius: 10px;
  background: transparent;
  padding: 1rem;

  transition: 0.1s color;
}

.rules:hover {
  color: white;
  border-color: white;
}
